.form {
  max-width: 320px;
  width: 100%;
  margin: auto;
  text-align: left;
  margin-bottom: 8px;
}

.form fieldset {
  padding: 1rem;
  border-radius: 5px;
}

.form fieldset legend {
  padding: 0 1rem;
  text-align: center;
}

.form-error, .form small {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 7px;
  display: block;
}

.form input.error {
  border: 1px solid red;
}

.form label {
  display: block;
  font-size: 14px;
}

.form label > input {
  margin-top: 4px;
}

.form input {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  display: block;
  line-height: 2;
  font-size: 16px;
  width: 100%;
  padding: 0 8px;
  /* margin-top: 8px; */
  margin-bottom: 16px;
}

.form .btn {
  width: 100%;
}

